<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>275175216659-f8a7s97fspl760mhkvarr59icq8eqj5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275175216659-f8a7s97fspl760mhkvarr59icq8eqj5t</string>
	<key>API_KEY</key>
	<string>AIzaSyAApxKp6dsM8Tw_ojsAnIAA-_KjgHeWQc0</string>
	<key>GCM_SENDER_ID</key>
	<string>275175216659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flycoglobal.InstgramClone</string>
	<key>PROJECT_ID</key>
	<string>instgramclone-513c0</string>
	<key>STORAGE_BUCKET</key>
	<string>instgramclone-513c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275175216659:ios:8333fb6fcf3a68a5</string>
	<key>DATABASE_URL</key>
	<string>https://instgramclone-513c0.firebaseio.com</string>
</dict>
</plist>